html
  height: 100vh
  width: 100vw
  padding: 0
  margin: 0
  font-family: serif
  font-family: sans-serif

body
  height: 100%
  width: 100%
  background: linear-gradient(to right, #01A4D4, #097274)
  text-align: center
  margin: 0

header
  height: 50px
  // width: 100%
  background-color: #222222
  margin: 0

#form-con
  height: 500px
  width: 300px
  margin: auto
  box-shadow: 2px 2px 2px 0px grey

#form-head
  height: 100px
  width: 100%
  background-color: white
  display: flex
  align-items: center
  text-align: center

#form-head h2
  margin: auto
  text-align: center

#form
  height: 400px
  width: 100%
  background-color: #2D2B32
  display: flex
  // display: none
  flex-direction: column

.input
  margin: 20px auto
